h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 42px;
    color: #fff;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    line-height: 48px;
    color: #fff;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    line-height: 39px;
    color: #363636;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}

p {
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    color: #363636;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
}

text {
    font-family: 'Roboto', sans-serif;
    color: #363636;
}

hr {
    width: 120px;
    border: 1.5px solid #fff;
    margin: 25px auto;
}

button {
    width: 195px;
    padding: 8px;
    border: 2px solid #fff;
    border-radius: 30px;
    background-color: transparent;
    color: #fff;
    margin: 20px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    transition: all 350ms ease-in-out;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
}

button:hover {
    border: 2px solid #fff;
    background-color: #fff;
    color: #666;
    transition: all 350ms ease-in-out;
}

.main-container {
    width: 100%;
}

.container {
    width: 100%;
    background-color: #fff;
    text-align: center;
}

.first-container {
    width: 60%;
    margin: 0 auto;
    padding: 100px 0;
}

.first-container hr {
    border: 1.5px solid #70c1b3;
}

.logo {
    line-height: 50px;
}

.header-container {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background: url("https://hola-bear.s3.amazonaws.com/main-img2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header-text {
    width: 70%;
    margin: 0 auto;
    padding-top: 190px;
    text-align: center;
}

.empty {
    height: 600px;
    width: 100%;
    background: url("https://hola-bear.s3.amazonaws.com/main-img3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.second-container {
    width: 65%;
    margin: 0 auto;
    text-align: center;
    padding: 75px 0;
}

.container.second {
    background-color: #f0f5fb;
}

.pie-chart-container {
    background-color: #fafafa;
    padding: 70px 0;
}

.pie-chart {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.pie-chart hr {
    margin: 25px auto;
    border: 1px solid #a8dadc;
}

#trend {
    height: 625px;
    width: 625px;
    margin: auto;
}

.pie-right-container {
    text-align: center;
    height: 100%;
    margin: auto;
}

.pie-right {
    padding: 20px;
    margin-left: 10px;
    height: 320px;
}

.pie-percentage {
    color: #a8dadc;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}

.pie-key {
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 10px;
    font-size: 22px;
}

.pie-area {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.pie-right h3 {
    margin: 20px;
}

.pie-description {
    padding: 15px;
}

.pie-chart text {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    color: #fff;
}

.pie-chart-tooltip {
    position: absolute;
    opacity: 0;
    background-color: #fff;
    padding: 12px;
    border-radius: 2px;
    width: 200px;
    font-size: 16px;
    box-shadow: 2px 2px 18px -2px rgba(0, 0, 0, 0.1);
    line-height: 16px;
    cursor: crosshair;
}

#trend path, #trend text {
    cursor: crosshair;
}

p.pie-chart-source {
    font-size: 16px;
    margin-top: 20px;
}

.fun-facts-container img {
     width: 450px;
     margin-left: -60px;
}

.fun-facts-header {
    height: 400px;
    width: 100%;
    margin: 0 auto;
    background: url("https://hola-bear.s3.amazonaws.com/main-img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.fun-facts-header h2 {
    text-align: center;
    padding-top: 180px;
    font-size: 36px;
}

.fun-facts {
    margin: 0 auto;
    width: 60%;
    padding: 70px 0;
    position: relative;
}

.fun-facts h3 {
    margin-top: 75px;
    margin-bottom: 15px;
}

.fact {
    margin: 45px 0;
}

.fact-num {
    color: #a8dadc;
    font-family: 'Ubuntu', sans-serif;
    font-size: 38px;
    margin-right: 20px;
}

.fact-content {
    font-family: 'Roboto', sans-serif;
    color: #363636;
    font-size: 22px;
    -webkit-font-smoothing: antialiased;
}

.footer-container {
    width: 100%;
    bottom: 50px;
    left: 0;
    background: url("https://hola-bear.s3.amazonaws.com/img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.footer {
    width: 60%;
    margin: 0 auto;
    height: 525px;
    position: relative;
}

.footer-info {
    position: absolute;
    bottom: 20px;
    right: 0;
}

.footer-info p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
}

.footer-info i {
    padding-right: 10px;
}