h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 42px;
    color: #fff;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    letter-spacing: -0.5px;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    line-height: 48px;
    color: #fff;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    line-height: 39px;
    color: #6096ba;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}

p {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #363636;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

text {
    font-family: 'Roboto', sans-serif;
    color: #363636;
}

hr {
    width: 50px;
    border: 3px solid #fff;
    margin: 16px auto;
    margin-bottom: 8px;
}

button {
    width: 200px;
    padding: 10px;
    border: 2.5px solid #fff;
    border-radius: 30px;
    background-color: transparent;
    color: #fff;
    margin: 30px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    transition: all 350ms ease-in-out;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
}

button:hover {
    border: 2.5px solid #fff;
    background-color: #fff;
    color: #6096ba;
    transition: all 350ms ease-in-out;
}

.main-container {
    width: 100%;
}

.main {
    width: 100%;
    background-color: #fff;
    text-align: center;
}

.first-container {
    width: 65%;
    max-width: 1100px;
    margin: 0 auto;
    box-sizing: border-box;
    height: 35vh;
    opacity: 0;
    position: relative;
}

.first-container.active {
    opacity: 1;
    transition: opacity 1.5s linear;
}

.first-container hr {
    border: 3px solid #6096ba;
    margin: 25px auto;
}

.first {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.logo {
    line-height: 50px;
}

.header-container {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background: url("https://hola-bear.s3.amazonaws.com/main-img7.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0;
}

.header-container.active {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.header-text {
    width: 70%;
    margin: 0 auto;
    padding-top: 220px;
    text-align: center;
}

.empty {
    height: 65vh;
    width: 100%;
    background: url("https://hola-bear.s3.amazonaws.com/main-img3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.second-container {
    width: 65%;
    margin: 0 auto;
    text-align: center;
    padding: 75px 0;
}

.pie-chart-container {
    background-color: #fafafa;
    padding: 70px 0;
    background: url("https://hola-bear.s3.amazonaws.com/map.gif");
    background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
    background-size: 50%;
}

.pie-chart {
    width: 80%;
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
}

#trend {
    height: 625px;
    width: 625px;
    margin: auto;
}

.pie-right-container {
    max-width: 515px;
    height: 100%;
    margin: auto;
}

.pie-right {
    padding: 20px;
    padding-left: 40px;
    height: 375px;
    opacity: 0;
    
}

.pie-right.shift {
    padding-left: 20px;
    opacity: 1;
    transition: all 1.5s ease-in-out;
}

.pie-percentage {
    color: #a3cef1;
    font-family: 'Ubuntu', sans-serif;
    font-size: 38px;
    margin-bottom: 10px;
}

.pie-key {
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
}

.pie-area {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}

.pie-right h3 {
    margin: 20px;
    margin-top: 0;
}

.pie-description {
    padding: 20px;
}

.pie-chart text {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    color: #fff;
}

.pie-chart-tooltip {
    position: absolute;
    opacity: 0;
    background-color: #fff;
    padding: 12px;
    border-radius: 2px;
    width: 200px;
    font-size: 16px;
    box-shadow: 2px 2px 18px -2px rgba(0, 0, 0, 0.1);
    line-height: 16px;
    cursor: crosshair;
}

#trend path, #trend text {
    cursor: crosshair;
}

.pie-source {
    font-size: 16px;
    margin-top: 20px;
}

.pie-source-head {
    font-weight: bold;
}

.fun-facts-container {
    background-color: #f7f9fa;
}

.fun-facts-container img {
     width: 450px;
     margin-left: -60px;
}

.fun-facts-header {
    height: 350px;
    width: 100%;
    margin: 0 auto;
    background: url("https://hola-bear.s3.amazonaws.com/main-img7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.fun-facts-header h2 {
    text-align: center;
    padding-top: 160px;
    font-size: 40px;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.fun-facts {
    margin: 0 auto;
    width: 65%;
    max-width: 1100px;
    padding: 70px 0;
    position: relative;
}

.fun-facts hr {
    border: 3px solid #6096ba;
    margin: 25px 0;
}

.fun-facts h3 {
    margin-top: 75px;
    margin-bottom: 15px;
}

.fact {
    margin: 45px 0;
}

.fact-num {
    color: #a3cef1;
    font-family: 'Ubuntu', sans-serif;
    font-size: 38px;
    margin-right: 20px;
}

.fact-content {
    font-family: 'Roboto', sans-serif;
    color: #363636;
    font-size: 22px;
    -webkit-font-smoothing: antialiased;
}

.empty2 {
    width: 100%;
    height: 100vh;
    background: url("https://hola-bear.s3.amazonaws.com/main-img8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.footer-container {
    width: 100%;
    background: url("https://hola-bear.s3.amazonaws.com/img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    text-align: center;
}

.footer {
    bottom: 80px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

.footer-info {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.footer-info i {
    text-align: center;
    font-size: 26px;
    width: 26px;
    padding: 28px;
    border-radius: 50%;
    transition: all 250ms ease-in-out;
    cursor: pointer;
    color: #fff;
}

.footer-info i:hover {
    color: #a3cef1;
    transition: all 250ms ease-in-out;
}